img{
width: 30%;
float: left;
margin: 1.66%;

}
p {
font-family: 'Open Sans', sans-serif;
margin-left: 1.66%;
font: size 23px;
font-weight: weight 800;
text-decoration:uppercase;
border-bottom: 3px solid #f1f1f1;
width: 30%;
padding-bottom: 20px;

}

div {
    text-align: center;
    padding: 6px;
    background-color: DarkSalmon;
    color: white;
    margin-top: 0%;
    }
    
    a:hover{
    color: black;
    }
    
    .fa {
    padding-left: 1%;
    text-align: center;
    margin-right: 2%;
    }
    @media only screen and (max-width:768px) {
    footer {
    margin-top: 80%;
    }
    
    .fa{
    margin-right: 15%;
    }
    }
    